[CLOUDATCOST]
USERNAME = changeme
PASSWORD = changeme
#CODE_2FA = changeme
GOAL_USD = 1000.00
#GOAL_BTC = 1
[ETHERMINE]
#ADDRESS = 
#GOAL_USD = 1000.00
#GOAL_ETH = 1
[NICEHASH]
#ORG = 
#KEY = 
#SECRET = 
#GOAL_USD = 25.00
#GOAL_BTC = 0.0005
[MAIL]
#FROM = sender@example.com
#TO = receive@example.com
[TELEGRAM]
#TOKEN = 
#ID = 
#
